/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*HERE IS WHERE MY CODE STARTS*/

body{
    font-family: 'Roboto Mono', monospace; 
    font-size: 12px;
}
nav{
    width: 100%;
    padding: 2% 0%;
}

.visit,.learn,.involved{
    display:inline-block;
    padding: 1%;
    border-radius: 8px;
    font-size:.9rem;
    text-transform: capitalize;
    width: 100px;
    text-align:center;
    margin: 0 12% 0 12%;
}
.visit{
    background-color:#FF764E;
}
.learn{
    background-color:#5ED3EB;
}
.involved{
    background-color:#FFCD69;
}

a{
    color: white;
    text-decoration:none;
}
.top-section {
    display:inline-block;
    width: 100%;
}
.circle-img{
    display:inline-block;
    border-radius: 50%;
    width: 16%;
    margin:0 2% 0 12%;
}
.top-section-right{
    display: inline-block;
    width:65%;
   text-align: center;
}
h1{
    font-family: 'Chelsea Market', cursive;
    font-size: 3.5rem;
    margin: 0 0 3% 0;
    padding:1% 0;   
}

.paragraph2{
    display: inline-block;
    width:40%;
    font-size: 1.4rem;
    padding: 2%;
}
.paragraph1{
    font-size: 1.4rem;
}
.section1{
    background-color:#DDB9A3;
    width: 80%;
    text-align:center;
    margin: 0 auto;
    font-size: 1.4rem;
    color: white;
    padding: 1% 0;
}
.section1 p {
    padding: 0 0 1% 0;
}
.section2,.section3{
    margin: 0 auto;
    width: 25%;
    text-align:center;
    padding: 2% 0%;
    font-size: 1.2rem;
}
.fireicon{
    height: 30%;
    width: 30%;
    margin: 0 auto;
}
.caricon{
    height: 30%;
    width: 30%;
    margin: 0 auto;
}
.bottomimg {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    object-position: top;
}
footer{
    background-color:peachpuff;
}
